<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mecol.dormitory.dao.CleanDao">
    <resultMap id="cleanResultMap" type="com.mecol.dormitory.entity.Clean">
        <id property="id" column="id"/>
        <result property="cleanTime" column="cleanTime"/>
        <result property="cleanLevel" column="cleanLevel"/>

        <association property="student" javaType="com.mecol.dormitory.entity.Student">
            <id property="id" column="id"/>
            <result property="username" column="username"/>
        </association>
        <association property="dormitory" javaType="com.mecol.dormitory.entity.Dormitory">
            <id property="dormitoryId" column="dormitoryId"/>
            <result property="dormitoryNumber" column="dormitoryNumber"/>
        </association>

    </resultMap>

    <select id="getCleanList" resultMap="cleanResultMap">
        select * from tb_clean ,tb_student,tb_dormitory
        where tb_clean.studentId=tb_student.id and tb_clean.dormitoryId=tb_dormitory.dormitoryId
    </select>

    <insert id="insertClean" parameterType="com.mecol.dormitory.entity.Clean">
        insert into tb_clean(cleanTime, studentId, cleanLevel, dormitoryId)
        VALUES(#{cleanTime},#{studentId},#{cleanLevel},#{dormitoryId})
    </insert>


    <update id="updateClean" parameterType="com.mecol.dormitory.entity.Clean">
        update tb_clean
        <set>
            <if test="cleanTime!=null">
                cleanTime=#{cleanTime},
            </if>
            <if test="studentId!=null">
                studentId=#{studentId},
            </if>
            <if test="dormitoryId!=null">
                dormitoryId=#{dormitoryId},
            </if>
            <if test="cleanLevel!=null">
                cleanLevel=#{cleanLevel}
            </if>
        </set>
        where id=#{id}
    </update>

    <select id="getCleanById" resultType="com.mecol.dormitory.entity.Clean">
        select *
        from tb_clean where id=#{id}
    </select>

    <delete id="delCleanById">
        delete from tb_clean where id=#{id}
    </delete>
</mapper>